<div class="container-fluid text-center" style="background:#E67E22; padding-top: 100px; padding-bottom: 50px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="pacifico white" style="text-shadow: 0 5px 5px #222;">About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="event-card" style="padding:40px;">
                <div class="cuprum font20">
                    <p>Artists' Forum is one of the hobby clubs in NITK. As the name itself suggests, it's the perfect place for all those budding engineers who portray a great passion in fine arts and craft.</p>
                    <p>Famous as AF in NITK we are a group of creative, fun loving, enthusiastic people who are from diverse backgrounds united by their one true passion - art. Be it origami, kirigami, 3D painting, painting, sketching, quilling, or any other form, AF houses it all! </p>
                    <p>
                        Over the years AF has become more of a family than a club and this is a testimony to the bonds we have formed with each other. AF is a place where innovation is not only appreciated, but encouraged.
                    </p>
                    <p>
                        In college, we conduct a number of fests and activities:
                    </p>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators" style="color:b">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center" role="listbox" style="padding-bottom: 50px;">
                            <div class="item active">
                                <div class="photo-card" style="margin-left: auto; margin-right: auto;">
                                    <img src="images/about/workshops.png" class="img-responsive">
                                    <br/>
                                    <div style="margin:10px; font-weight: bold;" class="cuprum font20">Workshops</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="photo-card" style="margin-left: auto; margin-right: auto;">
                                    <img src="images/about/udaan.png" class="img-responsive">
                                    <br/>
                                    <div style="margin:10px; font-weight: bold;" class="cuprum font20">Kite Fest</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="photo-card" style="margin-left: auto; margin-right: auto;">
                                    <img src="images/about/kalakriti.png" class="img-responsive">
                                    <br/>
                                    <div style="margin:10px; font-weight: bold;" class="cuprum font20">Art exhibitions</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="photo-card" style="margin-left: auto; margin-right: auto;">
                                    <img src="images/about/competitions.png" class="img-responsive">
                                    <br/>
                                    <div style="margin:10px; font-weight: bold;" class="cuprum font20">Competitions</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="photo-card" style="margin-left: auto; margin-right: auto;">
                                    <img src="images/about/3D-art.png" class="img-responsive">
                                    <br/>
                                    <div style="margin:10px; font-weight: bold;" class="cuprum font20">Campus Art-works</div>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="fa fa-lg fa-arrow-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="fa fa-lg fa-arrow-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
