<div class="container-fluid text-center" style="background: #22313F; box-shadow: inset 0 0 10px black; padding:20px;">
<div class="cuprum white">
	
<a class="white" href="http://nitk.ac.in">Visit NITK</a> | &copy; Artists' Forum, 2016.<br/>
Follow us on:<a href="https://www.facebook.com/ArtistsForumNitk" class="white" style="margin-left:10px; margin-right:10px;"><i class="fa fa-lg fa-facebook-square"></i></a>
<a href="https://twitter.com/af_nitk" class="white"><i class="fa fa-lg fa-twitter"></i></a>
</div>
</div>